

  h1 {
    color: #f54286;
    font-weight: 700;
  }

  .team-card {
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 20px;
  }

  .team-info {
    padding: 15px;
  }

  



